/* Text Styles */
hr { color: #000000}
body, table, tr, th /* Normal */
{
 font-size: 11pt;
 font-family: 'Trebuchet MS';
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f_Bullets /* Bullets */
{
}
span.f_Code /* Code */
{
 font-size: 10pt;
 font-family: Arial;
}
span.f_CodeExample /* Code Example */
{
 font-size: 8pt;
 font-family: 'Courier New';
}
span.f_Comment /* Comment */
{
 font-style: italic;
}
span.f_Heading1 /* Heading1 */
{
 font-size: 20pt;
}
span.f_Image /* Image */
{
 font-size: 12pt;
 font-weight: bold;
 color: #000080;
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 12pt;
 font-weight: bold;
 color: #000080;
}
span.f_Notes /* Notes */
{
}
span.f_Overview /* Overview */
{
 font-size: 14pt;
 color: #000080;
}
span.f_References /* References */
{
 font-size: 10pt;
}
span.f_SeeAlso /* SeeAlso */
{
 font-size: 10pt;
}
span.f_subsubtopic /* subsubtopic */
{
 font-size: 12pt;
 font-weight: bold;
 color: #000080;
}
span.f_Subtopic_atoc_ /* Subtopic_atoc_ */
{
 font-size: 16pt;
 color: #000080;
}
span.f_Table /* Table */
{
 font-size: 10pt;
}
span.f_TablePlus /* TablePlus */
{
 font-size: 10pt;
}
/* Paragraph styles */
p /* Normal */
{
 text-align: justify;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 6px 0px 4px 0px;
}
.p_Bullets /* Bullets */
{
 margin: 4px 0px 2px 0px;
}
.p_Code /* Code */
{
 text-align: left;
 margin: 2px 0px 0px 11px;
}
.p_CodeExample /* Code Example */
{
 text-align: left;
 white-space: nowrap;
 margin: 0px 0px 0px 0px;
}
.p_Comment /* Comment */
{
 margin: 2px 0px 2px 0px;
}
.p_Heading1 /* Heading1 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: justify;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 9px 0px 9px 0px;
}
.p_Image /* Image */
{
 margin: 0px 0px 4px 0px;
}
.p_ImageCaption /* Image Caption */
{
}
.p_Notes /* Notes */
{
}
.p_Overview /* Overview */
{
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-top: none;
 border-right: none;
 border-left: none;
 padding: 1px 1px 1px 1px;
 margin: 18px -1px 3px -1px;
}
.p_References /* References */
{
 text-align: left;
 margin: 4px 0px 2px 0px;
}
.p_SeeAlso /* SeeAlso */
{
 text-align: left;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-bottom: none;
 border-left: none;
 margin: 15px 0px 2px 0px;
}
.p_subsubtopic /* subsubtopic */
{
 margin: 19px 0px 0px 0px;
}
.p_Subtopic_atoc_ /* Subtopic_atoc_ */
{
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-top: none;
 border-right: none;
 border-left: none;
 padding: 1px 1px 1px 1px;
 margin: 18px -1px 3px -1px;
}
.p_Table /* Table */
{
 text-align: left;
 margin: 6px 2px 4px 2px;
}
.p_TablePlus /* TablePlus */
{
 text-align: left;
 margin: 1px 3px 1px 3px;
}


#hmpopupdiv /* used for javascript text popups */
{
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #FFFFFF;
  padding: 6px;
  border:1px solid #000000;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}

#hmlightbox /* image lightbox */
{
  border: none;
  padding: 8px;
  background: #FFF;
  font-size: 110%;
  font-weight: bold;
  color: #777;
  box-shadow: 5px 5px 5px #888;
}

a.dropdown-toggle /* dropdown toggle caption */
{
  cursor: pointer;
}
a.inline-toggle /* inline toggle caption */
{
  cursor: pointer;
}
img.dropdown-toggle-icon /* toggle icon */
{
  cursor: pointer;
}
